<div class="jumbotron center">
	<h1>Medical Technology Solutions</h1>
	<p>
		<%= link_to "LOG IN", "#", class: "btn btn-primary btn-lg" %>
		<%= link_to "SIGN UP", "#", class: "btn btn-success btn-lg" %>
	</p>
</div>